input{
    margin-bottom: 30px;
    padding: 0px 0px;
    background-color: transparent;
    border: 0px solid transparent;
    width: 100%;
    height: 30px;
    border-bottom: 2px solid #BBBBBB;
    
}
input, select, textarea{
    color: #BBBBBB !important;
}
input, select, textarea{
    color: #BBBBBB !important;
}

textarea:focus, input:focus {
    color:#BBBBBB;
    outline: none;
}
textarea:visited, input:visited {
    color:#BBBBBB;
}
textarea:active, input:active {
    color:#BBBBBB;
}
.background{
    background-image: url("../assets/loginBG.png");
    background-size: cover;
    width: 100%;
    height: auto;
}
.logo{
    width:120px;
    height: auto;
    color: #C94B4B;
}
.hello{
    color: #C94B4B !important;
}

.logout{
    color: #444444 !important;
}
.boxIcon{
    margin-top: 1.5vw;
    width: 4vw;
    display: inline-block;
    fill:#BBBBBB;
}
.box{
    margin-top: 8vw;
    width: 90%;
    height: 10vw;
    margin-left: 5%;
    -webkit-box-shadow: 0px 0px 27px 9px rgba(0,0,0,0.23);
    -moz-box-shadow: 0px 0px 27px 9px rgba(0,0,0,0.23);
    box-shadow: 0px 0px 27px 9px rgba(0,0,0,0.23);
    color:#BBBBBB;
    display:inline-block;
    text-align: center;
    background-color: #333333;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 2vw;
    font-kerning: 60px;
}
.box:hover {
    background: #4b134f; 
    background: -moz-linear-gradient(45deg, #4b134f 0%, #c94b4b 100%); 
    background: -webkit-linear-gradient(45deg, #4b134f 0%,#c94b4b 100%); 
    background: linear-gradient(45deg, #4b134f 0%,#c94b4b 100%); 
    color:#BBBBBB;
    fill:#BBBBBB;
}
.box:hover .iconStyle{
    fill:##BBBBBB;
}
.scrollBox{
    margin-top: 2vw;
    height: 35vw;
    width: 90%;
    margin-left: 5%;
    -webkit-box-shadow: 0px 0px 27px 9px rgba(0,0,0,0.23);
    -moz-box-shadow: 0px 0px 27px 9px rgba(0,0,0,0.23);
    box-shadow: 0px 0px 27px 9px rgba(0,0,0,0.23);
    color:#B9B9B9;
    display:inline-block;
    text-align: left;
    background-color: #333333;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 5vw;
    padding: 5vw 5vw;
    
}
.clubStyle{
    font-size: 12px;
    color: #666666;
    line-height: 12px;
    margin-top: -1vw;
    margin-bottom: 2vw;
}
.displayBox{
    width:100%;
    height:100%;
    overflow:auto;
}
.iconList{
    width: 30px;
    height: auto;
    margin-top: 1vw;
    fill:#BBBBBB;
}
.iconlist:hover{
    fill:#c94b4b;
}
.loginButton{
    margin-top: 10%;
    background: #333333; /* Old browsers */
    border-radius: 80px;
    -webkit-box-shadow: 0px 0px 27px 9px rgba(0,0,0,0.23);
    -moz-box-shadow: 0px 0px 27px 9px rgba(0,0,0,0.23);
    box-shadow: 0px 0px 27px 9px rgba(0,0,0,0.23);
    border: 0px solid transparent;
    color: #c94b4b;
}
.loginButton:hover{
    background: #4b134f; /* Old browsers */
    background: -moz-linear-gradient(45deg, #4b134f 0%, #c94b4b 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg, #4b134f 0%,#c94b4b 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg, #4b134f 0%,#c94b4b 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4b134f', endColorstr='#c94b4b',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    border: 0px solid transparent;
    border-radius: 80px;
}
.divButon{
    text-align: center;
    color: #BBBBBB;
    padding: 5px 0px;
}
.inpts{
    display: none;
}
.gradType{
    margin-top: 25px ;
    padding: 5px 0px;
    text-align: center;
    background-color: #333333;
    color: #BABABA;
    width: 100%;
    height: 2vw;
    -webkit-box-shadow: 0px 0px 27px 9px rgba(0,0,0,0.23);
    -moz-box-shadow: 0px 0px 27px 9px rgba(0,0,0,0.23);
    box-shadow: 0px 0px 27px 9px rgba(0,0,0,0.23);
    border-radius: 80px;

}
.gradTypeActive{
    background: #4b134f; /* Old browsers */
    background: -moz-linear-gradient(45deg, #4b134f 0%, #c94b4b 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg, #4b134f 0%,#c94b4b 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg, #4b134f 0%,#c94b4b 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4b134f', endColorstr='#c94b4b',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    border: 0px solid transparent;
    
}
.sexBox{
    margin-top: 3vw;
    width:100%;
    background-color: #333333;
    height: auto;
    -webkit-box-shadow: 0px 0px 27px 9px rgba(0,0,0,0.23);
    -moz-box-shadow: 0px 0px 27px 9px rgba(0,0,0,0.23);
    box-shadow: 0px 0px 27px 9px rgba(0,0,0,0.23);
    padding: 40px 40px;
    fill: #BBBBBB;
}

.sexBoxActive{
    background: #4b134f; /* Old browsers */
    background: -moz-linear-gradient(45deg, #4b134f 0%, #c94b4b 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg, #4b134f 0%,#c94b4b 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg, #4b134f 0%,#c94b4b 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4b134f', endColorstr='#c94b4b',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    
}
.loginButton{
    margin-top: 10%;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#4b134f+0,c94b4b+100 */
    background: #333333; /* Old browsers */
    border-radius: 80px;
    -webkit-box-shadow: 0px 0px 27px 9px rgba(0,0,0,0.23);
    -moz-box-shadow: 0px 0px 27px 9px rgba(0,0,0,0.23);
    box-shadow: 0px 0px 27px 9px rgba(0,0,0,0.23);
    border: 0px solid transparent;
    color: #BBBBBB;
}
.topSpace{
    margin-top: 2vw;
}
.loginButton:hover{
    background: #4b134f; /* Old browsers */
    background: -moz-linear-gradient(45deg, #4b134f 0%, #c94b4b 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg, #4b134f 0%,#c94b4b 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg, #4b134f 0%,#c94b4b 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4b134f', endColorstr='#c94b4b',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    border: 0px solid transparent;
    border-radius: 80px;
}

.rules{
    line-height: 2vw;
}

.label{
    font-family: "Open Sans Light";
    font-size: 1vw !important;
    color: #555555 !important;
    margin-bottom: -20px !important;
    padding: 0px !important;
}

::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}
    
::-webkit-scrollbar-track {
    background-color: #444444;
    border: 5px solid #333333;
    border-radius: 10px;
    }
    
::-webkit-scrollbar-thumb {
    
    background: -moz-linear-gradient(45deg, #4b134f 0%, #c94b4b 100%); 
    background: -webkit-linear-gradient(45deg, #4b134f 0%,#c94b4b 100%); 
    background: linear-gradient(45deg, #4b134f 0%,#c94b4b 100%); 
    border-radius: 10px;
    }
    
::-webkit-scrollbar-thumb:hover {
    background: -moz-linear-gradient(45deg, #4b134f 0%, #c94b4b 100%); 
    background: -webkit-linear-gradient(45deg, #4b134f 0%,#c94b4b 100%); 
    background: linear-gradient(45deg, #4b134f 0%,#c94b4b 100%); 
    }
